.setup-page {
  padding: 2rem;
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.setup-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.setup-card {
  background-color: rgba(158, 143, 126, 0.6);
  border-left: 5px solid var(--color-accent);
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  text-align: left;
  transition: 0.3s ease;
  color: #377d75;
}

.setup-card h3 {
  color: #377d75;
}

.setup-card h2 {
  color: #377d75;
}

.setup-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.12);
}

.setup-reflection {
  background-color: var(--color-button);
  color: white;
  padding: 1rem 2rem;
  margin-top: 3rem;
  border-radius: 10px;
  font-style: italic;
  box-shadow: 0 4px 10x rgba(0, 0, 0, 0.1);
}